h1 {
  text-decoration: underline;
  color: blue;
  text-align: center;
}
img {
  height: 150px;
  width: 270px;
}
body {
  background-color: rgb(98, 136, 194);
}
h3 {
  text-align: right;
  color: brown;
}
